.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-family: monospace;
    font-size: 3em;
    border-bottom: 2px dotted lime;
    border-right: lawngreen dotted 2px;
    width: 400px;
    text-align: center;

}

img{
    width: 500px;
    height: 500px;
    margin: 2px;
}